<!DOCTYPE html>
<html lang="en" ng-app="alexApp">
<head>
    <meta charset="UTF-8">
    <title>Alex?</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog.min.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>

    <script src="alex.js" type="text/javascript"></script>
    <script src="directiveTimer.js" type="text/javascript"></script>
    <script src="myServis.js" type="text/javascript"></script>

    <style>

    </style>

</head>
<!-- controller, filter, directive -->
<body>

    <script type="text/ng-template" id="myNewTemplate1.html">

    </script>

    <div ng-controller="alexCtrl as ctrl_1">
        <table border="1">
            <tr ng-repeat="element in ctrl_1.mass">
                <td height="100" width="100"
                    ng-repeat="value in element"
                    style="text-align:center; font-size: 24pt; font-family: Arial"
                    ng-style="{'background-color': value.property == true ? '#FF69B4' : 'white'}"
                    tabindex="{{value.staticIndex}}">

                    {{value.dynamicIndex}}

                </td>
            </tr>
        </table>

        <input type="text" ng-model="ctrl_1.dimensionOfTheGame">{{ctrl_1.dimensionOfTheGame}}
        <button ng-click="ctrl_1.newDimension()">dimension</button>
        <button ng-click="ctrl_1.startGame()">start game</button>
        <button ng-click="ctrl_1.yaMolodets()">ya molodets..</button>
        Time: <span directive-timer="">{{sec}}</span>

    </div>

</body>
</html>