<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex?</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog.min.css">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>

    <script src="alex.js" type="text/javascript"></script>


</head>
<body ng-app="alexApp">

    <style>
        .mySelect {
            width: 400px;
            height: 170px;
            background-color: #cccccc;
        }
        .mytextarea {
            width: 200px;
            height: 170px;
            background-color: #cccccc;
        }


    </style>

    <script type="text/ng-template" id="myNewTemplate1.html">

    </script>

    <div ng-controller="alexCtrl as ctrl_1">
        <textarea class="mytextarea" type="text" ng-model="ctrl_1.resource"></textarea>
        <button ng-click="ctrl_1.formattingResource()">format</button>

        <select multiple="multiple" ng-model="selectedElem">

            <option ng-click="ctrl_1.setLearnParam(selectedElem)" ng-repeat="option in ctrl_1.optionsLearnParam">{{option}}</option>

        </select>

        <input type="number" min="0" max="10"  ng-init="filterLimit = 0"  size="5" ng-model="filterLimit">
        <button ng-click="ctrl_1.nullAllResult()">nullResult</button>
        <button ng-click="ctrl_1.revert()">revert</button>

        <select class="mySelect" multiple="multiple" ng-model="selected">

            <option ng-mousedown="ctrl_1.controlAnswerTheQuestion($index, selectArrayElem[ctrl_1.revertRes.inSelect])"
                    ng-repeat="selectArrayElem in ctrl_1.selectArrayForLearn">{{selectArrayElem[ctrl_1.revertRes.inSelect] | filterLimitGoodResult:filterLimit:selectArrayElem[5]}}  {{ selectArrayElem[ctrl_1.revertRes.inSelectFromTranslate] | filterLimitGoodResult:filterLimit:selectArrayElem[5]}}</option>

        </select>

        <hr/>
        <button ng-click="ctrl_1.previousBatchOfWords(selectedElem[0])">предыдущие {{selectedElem[0]}} слов</button>
        <button ng-click="ctrl_1.nextBatchOfWords(selectedElem[0])">следующие {{selectedElem[0]}} слов</button>
        {{ctrl_1.selectArrayForLearn[ctrl_1.rand][ctrl_1.revertRes.forSecretWord]}}

    </div>

</body>
</html>